<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="desc">
                    <p><b><a href="#">Xem phim online</a></b>
                        miễn phí chất lượng cao với phụ đề tiếng việt - thuyết minh - lồng tiếng. Mọt phim có
                        nhiều
                        thể loại phim phong phú, đặc sắc, nhiều bộ phim hay nhất - mới nhất.
                    </p>
                    <p>
                        Website motphim.net với giao diện trực quan, thuận tiện, tốc độ tải nhanh, ít quảng cáo
                        hứa
                        hẹn sẽ đem lại những trải nghiệm tốt cho người dùng.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End-footer -->