<!-- Header -->
<header id="header">
    <div class="container">
        <div class="top">
            <nav class="nav-top navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand brand-top" href="#">
                    <img src="images/motphim.png" alt="#">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0 ml-5">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="box-user-menu ml-auto">
                        <a><i class="icofont-sign-in"></i>Đăng nhập</a>
                        <a><i class="icofont-people"></i>Đăng ký</a>
                        <a><i class="icofont-book-mark"></i>Bookmark</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <nav class="nav-behind navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">TRANG CHỦ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                THỂ LOẠI
                            </a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <!-- col-sm-4 -->
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">Khoa Học - Viễn Tưởng</a></li>
                                            <li><a href="#">Võ thuật - Kiếm hiệp</a></li>
                                            <li><a href="#">Kinh dị - Ma</a></li>
                                            <li><a href="#">Phiêu lưu hành động</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-12 col-md-12 col-lg-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">Khoa Học - Viễn Tưởng</a></li>
                                            <li><a href="#">Võ thuật - Kiếm hiệp</a></li>
                                            <li><a href="#">Kinh dị - Ma</a></li>
                                            <li><a href="#">Phiêu lưu hành động</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-12 col-md-12 col-lg-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">Khoa Học - Viễn Tưởng</a></li>
                                            <li><a href="#">Võ thuật - Kiếm hiệp</a></li>
                                            <li><a href="#">Kinh dị - Ma</a></li>
                                            <li><a href="#">Phiêu lưu hành động</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                QUỐC GIA
                            </a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">Việt Nam</a></li>
                                            <li><a href="#">Âu Mỹ</a></li>
                                            <li><a href="#">Trung Quốc</a></li>
                                            <li><a href="#">Đài Loan</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">Hàn Quốc</a></li>
                                            <li><a href="#">Nhật Bản</a></li>
                                            <li><a href="#">Thái Lan</a></li>
                                            <li><a href="#">Ấn Độ</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">Hồng Kông</a></li>
                                            <li><a href="#">Canada</a></li>
                                            <li><a href="#">Quốc Gia Khác</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PHIM MỚI
                            </a>
                            <ul class="dropdown-menu multi-column columns-1">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <ul class="multi-column-dropdown">
                                            <li><a href="#">2019</a></li>
                                            <li><a href="#">2018</a></li>
                                            <li><a href="#">2017</a></li>
                                            <li><a href="#">2016</a></li>
                                            <li><a href="#">2015</a></li>
                                            <li><a href="#">2014</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">PHIM BỘ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PHIM THUYẾT MINH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PHIM CHIẾU RẠP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TV SHOW</a>
                        </li>

                </div>
            </nav>
        </div>
    </div>
</header>
<!-- End-Header -->