<div class="info">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="poster">
                <a href="#">
                    <img src="images/item-film/lang-khach-7169.jpg" alt="#">
                </a>
                <ul class="two-button">
                    <li>
                        <a class="btn-see btn btn-success">Trailer</a>
                    </li>
                    <li>
                        <a class="btn-see btn btn-danger">Xem Phim</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="content-info-film">
                <h1>
                    <span class="title">Lãng Khách</span>
                </h1>
                <h2>
                    <span class="rea-name">Vagabond (2019)</span>
                </h2>
                <div class="wrapper-scrollpy">
                    <div class="slimScrollBar">
                        <dl class="col">
                            <dt>Trạng thái:</dt>
                            <dd style="color: red;">Tập 13 Vietsub</dd>
                            <dt>Sắp chiếu:</dt>
                            <dd>Tập 14 VIETSUB</dd>
                            <dt>Lượt xem:</dt>
                            <dd>119,900</dd>
                            <dt>Đạo diễn:</dt>
                            <dd><a href="#" title="Yoo In Shik">Yoo In Shik</a></dd>
                            <dt>Thời lượng:</dt>
                            <dd>60 phút / tập</dd>
                            <dt>Số tập:</dt>
                            <dd>16 Tập</dd>
                            <dt>Tình trạng:</dt>
                            <dd>Phim đang chiếu</dd>
                            <dt>Ngôn ngữ:</dt>
                            <dd>Phụ đề Việt + Thuyết minh</dd>
                            <dt>Năm sản xuất:</dt>
                            <dd>2019</dd>
                            <dt>Quốc gia:</dt>
                            <dd>Hàn Quốc</dd>
                            <dt>Thể loại:</dt>
                            <dd><a href="#" title="#">Phiêu Lưu - Hành Động</a>, <a href="#"
                                    title="Tâm Lý - Tình Cảm">Tâm Lý - Tình Cảm</a>, <a href="#"
                                    title="Hình Sự - Chiến Tranh">Hình Sự - Chiến Tranh</a>, <a href="#"
                                    title="Thuyết Minh">Thuyết Minh</a></dd>
                            <dt>Diễn viên:</dt>
                            <dd><a href="#" title="Lee Seung Gi">Lee Seung Gi</a>, <a href="#" title="Suzy">Suzy</a>, <a
                                    href="#" title="Shin Sung Rok">Shin Sung Rok</a>, <a href="#"
                                    title="Kim Min Jong">Kim Min Jong</a>, <a href="#" title="Moon Jung Hee">Moon Jung
                                    Hee</a>, <a href="#" title="Baek Yoon Shik">Baek Yoon Shik</a>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="btn-social">
                    <div class="box-btn clear">
                        <div class="fb-like fb_iframe_widget" data-href="https://motphim.net/phim/lang-khach-7169.html"
                            data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"
                            fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="action=like&amp;app_id=312036486256657&amp;container_width=0&amp;href=https%3A%2F%2Fmotphim.net%2Fphim%2Flang-khach-7169.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false">
                            <span style="vertical-align: bottom; width: 138px; height: 20px;"><iframe
                                    name="f18347dc2327844" width="1000px" height="1000px"
                                    title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                    allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                    src="https://www.facebook.com/v3.3/plugins/like.php?action=like&amp;app_id=312036486256657&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df96620073f63a%26domain%3Dmotphim.net%26origin%3Dhttps%253A%252F%252Fmotphim.net%252Ff3ab2e9d46e34a%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fmotphim.net%2Fphim%2Flang-khach-7169.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false"
                                    style="border: none; visibility: visible; width: 138px; height: 20px;"
                                    __idm_frm__="823" class=""></iframe></span></div>
                        <div class="fb-save fb_iframe_widget" data-uri="https://motphim.net/phim/lang-khach-7169.html"
                            data-size="small" fb-xfbml-state="rendered"
                            fb-iframe-plugin-query="app_id=312036486256657&amp;container_width=0&amp;locale=vi_VN&amp;sdk=joey&amp;size=small&amp;uri=https%3A%2F%2Fmotphim.net%2Fphim%2Flang-khach-7169.html">
                            <span style="vertical-align: bottom; width: 126px; height: 20px;"><iframe
                                    name="f2228b47c22b41" width="1000px" height="1000px"
                                    title="fb:save Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                    allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                    src="https://www.facebook.com/v3.3/plugins/save.php?app_id=312036486256657&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df40d9daabf918%26domain%3Dmotphim.net%26origin%3Dhttps%253A%252F%252Fmotphim.net%252Ff3ab2e9d46e34a%26relation%3Dparent.parent&amp;container_width=0&amp;locale=vi_VN&amp;sdk=joey&amp;size=small&amp;uri=https%3A%2F%2Fmotphim.net%2Fphim%2Flang-khach-7169.html"
                                    style="border: none; visibility: visible; width: 126px; height: 20px;"
                                    __idm_frm__="824" class=""></iframe></span></div>
                        <div class="gg-like"></div>
                    </div>

                    <div class="rating">
                        <div class="box-rating">
                            <div id="star">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-on.png" alt="1" title="1/10">
                                <img src="images/star/star-off.png" alt="1" title="1/10">
                            </div>
                        </div>
                        <div class="div_average">
                            <span>(9.2 điểm / 952 lượt)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail">
        <div class="tabs-content">
            <h3>Nội dung phim</h3>
            <div class="tab">
                <p>
                    <b>Lãng Khách - Vagabond</b>
                    là bộ phim hành động kể về hai nhân vật vô tình biết được được những “bí mật đen” của quốc gia.
                    Trong phim, Suzy sẽ vào vai nữ chính Go Hae Ri, một nhân viên tình báo thuộc Cơ quan Tình báo quốc
                    gia. Bố của Go Hae Ri là Go Kang Chul, một Trung úy của Thủy quân lục chiến. Sau khi bố qua đời, Go
                    Hae Ri quyết định trở thành nhân viên công vụ cấp bảy để gánh trách nhiệm chăm lo cho mọi người
                    trong gia đình. Trong khi đó, Lee Seung Gi sẽ vào vai Cha Gun, một diễn viên đóng thế, vì một sự cố
                    hàng không mà anh đã vô tình phát hiện ra những sự thật không mấy hay ho và bị cuốn vào vòng xoáy bí
                    ẩn của Cục tình báo quốc gia NIS.
                </p>

                <p>• Tập sắp chiếu:</p>
                <a href="#">
                    <span>Lãng Khách tập 14</span>
                </a>
            </div>
        </div>
        <ul class="tags">
            <li><span>Tags</span>
                <i class="icofont-arrow-right"></i>
            </li>
            <li class="tag-item">
                <h2><a href="#">vagabond</a></h2>
            </li>
            <li class="tag-item">
                <h2><a href="#">lãng khách</a></h2>
            </li>
        </ul>
        <div class="keywords">
            <h4>xem phim Lãng Khách viesub, phim Vagabond viesub, xem Lãng Khách vietsub online tap 1, tap 2, tap 3, tap
                4, phim Vagabond ep 5, ep 6, ep 7, ep 8, ep 9, ep 10, xem Lãng Khách tập 11, tập 12, tập 13, tập 14, tập
                15, phim Lãng Khách tap 16, tap 17, tap 18, tap 19, tap 20, xem phim Lãng Khách tập 21, 23, 24, 25, 26,
                27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, Lãng
                Khách tap cuoi, Vagabond vietsub tron bo, Lãng Khách banhtv, Lãng Khách phim14, Lãng Khách phimbathu,
                Lãng Khách youtube, Lãng Khách phimmoi, Lãng Khách bilutv, hdonline, phim3s, vungtv, khoaitv, dongphim,
                vtv16, vuviphim, vietsubtv, vtvgiaitri Lãng Khách full, Vagabond online, Lãng Khách Thuyết Minh, Lãng
                Khách Vietsub, Lãng Khách Lồng Tiếng</h4>
        </div>
    </div>

    <div class="film-note">
        <h4 class="hidden">Lịch chiếu/ghi chú</h4>
        LỊCH CHIẾU: 1 Tập lúc 22h30 mỗi tối Thứ 6,7 trên Mọt Phim.
    </div>

    <div id="comment-tab">
        <div class="box-comment" id="tabs-facebook">
            <div id="mp-comments" class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop"
                data-href="http://motphim.net/phim/lang-khach-7169.html" data-numposts="10" data-order-by="reverse_time"
                data-colorscheme="light" data-width="650" fb-xfbml-state="rendered"
                fb-iframe-plugin-query="app_id=312036486256657&amp;color_scheme=light&amp;container_width=650&amp;height=100&amp;href=http%3A%2F%2Fmotphim.net%2Fphim%2Flang-khach-7169.html&amp;locale=vi_VN&amp;numposts=10&amp;order_by=reverse_time&amp;sdk=joey&amp;version=v3.3&amp;width=650">
                <span style="vertical-align: bottom; width: 650px; height: 1485px;"><iframe name="f143f5e485a9ffc"
                        width="650px" height="100px" title="fb:comments Facebook Social Plugin" frameborder="0"
                        allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                        src="https://www.facebook.com/v3.3/plugins/comments.php?app_id=312036486256657&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df1de1738d32c444%26domain%3Dmotphim.net%26origin%3Dhttps%253A%252F%252Fmotphim.net%252Ff1730ca5686440c%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=650&amp;height=100&amp;href=http%3A%2F%2Fmotphim.net%2Fphim%2Flang-khach-7169.html&amp;locale=vi_VN&amp;numposts=10&amp;order_by=reverse_time&amp;sdk=joey&amp;version=v3.3&amp;width=650"
                        style="border: none; visibility: visible; width: 650px; height: 1485px;" __idm_frm__="59"
                        class=""></iframe></span></div>
            <script>document.getElementById("mp-comments").dataset.width = $("#mp-comments").parent().width();</script>
        </div>

    </div>
</div>