   <div class="phim-hoat-hinh">
                                <h2 class="title-box">
                                    <a>PHIM HOẠT HÌNH</a>
                                </h2>
                                <div class="container">
                                    <div class="list-phim">
                                        <div class="row">
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Vua Đầu Bếp Soma (Phần 4) 2019" href="#">
                                                        <img src="images/item-film/vua-dau-bep-soma-phan-4-7378.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Vua Đầu Bếp Soma (Phần 4) 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Dr. Stone 2019" href="#">
                                                        <img src="images/item-film/dr-stone-7072.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Dr. Stone 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Dr. Stone 2019" href="#">
                                                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Cảnh Sát Bắt Ma 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                                                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Cảnh Sát Bắt Ma 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                                                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Tình Đầu Ngây Ngô 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                                                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Cảnh Sát Bắt Ma 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                                                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Cảnh Sát Bắt Ma 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                                                <div class="item-phim">
                                                    <span class="label">Tập 29 HD</span>
                                                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                                                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                                                        <p><i class="icofont-ui-play"></i></p>
                                                        <div class="name">
                                                            <span>Cảnh Sát Bắt Ma 2019</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
