   <% 
    try {
        // var {data:listMoviesNew=[]}=dataNewMovies;
        //  dataMoviesTab:{
        //        dataMovieHot: dataMovieHot,
        //        dataSeriesMovie: dataSeriesMovie,
        //        latestRetailMovies: latestRetailMovies
        //    }
        var {
               dataNewMovies: {
                   data:listNewMovies
               },
               dataSeriesMovie:{
                   data:listSerieMoives
               },
               latestRetailMovies:{
                   data:listRetaMovies
               }
        }=dataMoviesTab;
    } catch(e){

    }

%>
<div class="films-new">
    <ul class="nav nav-tabs">
        <li class="nav-item tabs color">
            <a class="nav-link active" data-toggle="tab" href="#phimboupdate">PHIM BỘ MỚI
                CẬP
                NHẬT</a>
        </li>
        <li class="nav-item tabs color">
            <a class="nav-link" data-toggle="tab" href="#phimleupdate">PHIM LẺ MỚI CẬP
                NHẬT</a>
        </li>
        <li class="nav-item tabs color">
            <a class="nav-link" data-toggle="tab" href="#phimfinish">PHIM ĐÃ HOÀN THÀNH</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div id="phimboupdate" class="container tab-pane active">
        <div class="list-phim-bo">
            <div class="row">
                    <% listNewMovies.forEach(function(item) { %>
                       <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                          <div class="item-phim">
                             <span class="label">Tập 29 HD</span>
                             <a title="<%= item.post_title %>" href="#">
                                <img src="<%= item.img %>">
                                <p><i class="icofont-ui-play"></i></p>
                                <div class="name">
                                <span><%= item.post_title %></span>
                            </div>
                            </a>
                          </div>
                        </div>
                    <% })%>
            </div>
        </div>
    </div>

    <div id="phimleupdate" class="container tab-pane fade">
        <div class="list-phim-le">
            
        </div>
    </div>
    <div id="phimfinish" class="container tab-pane fade">
        <div class="list-phim-finish">
     
        </div>
    </div>
</div>