<div class="films-new">
    <ul class="nav nav-tabs">
        <li class="nav-item tabs color">
            <a class="nav-link active" data-toggle="tab" href="#phimboupdate">PHIM BỘ MỚI
                CẬP
                NHẬT</a>
        </li>
        <li class="nav-item tabs color">
            <a class="nav-link" data-toggle="tab" href="#phimleupdate">PHIM LẺ MỚI CẬP
                NHẬT</a>
        </li>
        <li class="nav-item tabs color">
            <a class="nav-link" data-toggle="tab" href="#phimfinish">PHIM ĐÃ HOÀN THÀNH</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div id="phimboupdate" class="container tab-pane active">
        <div class="list-phim-bo">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="phimleupdate" class="container tab-pane fade">
        <div class="list-phim-le">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="phimfinish" class="container tab-pane fade">
        <div class="list-phim-finish">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 first-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Tình Đầu Ngây Ngô 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 second-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 third-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3 fourth-item">
                    <div class="item-phim">
                        <span class="label">Tập 29 HD</span>
                        <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                        <p><i class="icofont-ui-play"></i></p>
                        <div class="name">
                            <span>Cảnh Sát Bắt Ma 2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>