<% 
    try {
        var {data:listMovies=[]}=dataMovieHot;
    } catch(e){

    }
%>
<div class="list-films">
<h2 class="title-box"><%= dataMovieHot.movies_title %></h2>
<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <% listMovies.forEach(function(item) { %>
          <div class="swiper-slide"> 
            <a href="#" class="">
                <span class="label">Tập 29 HD</span>
                   <img src="<%= item.img %>">
                    <div> <i class="icofont-ui-play"></i></div>
                <div class="text-swiper">
                    <span><%= item.post_title %></span>
                </div>
           </a>
            </div>
        <% }); %>
    </div>
    <!-- Add Pagination -->
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
</div>